<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Madlib</title>
  </head>
  <body>
    <h1>Enter some words to create a custom madlib</h1>
    <form action="/madlibs" method="post">
      <label for="word1"> Enter a noun: </label>
      <input type="text" id="noun1" name="noun1">
      <label for="word2"> Enter a noun: </label>
      <input type="text" id="noun2" name="noun2">
      <label for="word3"> Enter a verb: </label>
      <input type="text" id="verb1" name="verb1">
      <label for="word4"> Enter a verb ending in "ing": </label>
      <input type="text" id="verb2" name="verb2">
    <button type="submit"> Submit </button>
  </form>
  </body>
</html>