<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Madlib</title>
  </head>
  <body>
    <h1>Your custom Madlib</h1>
    <p> I went to the store to pick up @Model.Noun1 to pick up some grub, but I forgot my wallet at home. I hopped into my @Model.Noun2 to head back to the house. When I @Model.Verb1, I am always sure to step on it. When I got to the store someone pulled up on me and I got scared and started @Model.Verb2, leaving my car and my wallet at the store. Woah is me.</p>
  </body>
</html>